
.container-fluid.index
  -if @restaurants.empty?
    .jumbotron
      %h1 Sorry! No Restaurants Found!
  - else
    .row.center
      - @restaurants.each do |restaurant|
        .col-lg-4.col-md-6.col-sm-6.col-xs-12
          = link_to restaurant do
            .restaurantframe
              .image-container.img.jas_custom
                .caption
                  %h2
                    = restaurant.name
                  %h3
                    = restaurant.cuisine
                  %h3
                    = restaurant.city + ","
                    = restaurant.state
                  %h3
                    = restaurant.phone

                - if restaurant.pictures.any?
                  = image_tag attachment_url(restaurant.pictures.first, :image), size: "360x225", class: "restaurant_image_thumb"
                - else
                  = image_tag("placeholder.jpg", size: "360x225", class: "restaurant_image_thumb")

      -# .footer.navbar-fixed-bottom
  .pageination_top
    .pagination
      = paginate @restaurants
