.page-header.show
  %h1= @restaurant.name
  .edit-grp
    = link_to restaurants_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_restaurant_path(@restaurant), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit


  .container.restaurant_detail
    .row
      .col-sm-12.col-md-offset-3
        .image-container.img.res-img
          = image_tag attachment_url(@restaurant.pictures.first, :image), size: "600x400"
        .list-group-item.jaz-list-group-item
          Address: &nbsp
          = @restaurant.address
        .list-group-item.jaz-list-group-item
          City: &nbsp
          = @restaurant.city
          &nbsp&nbsp&nbsp&nbsp&nbsp
          State: &nbsp
          = @restaurant.state
        .list-group-item.jaz-list-group-item
          Phone: &nbsp
          = @restaurant.phone
        .list-group-item.jaz-list-group-item
          Website: &nbsp
          = link_to @restaurant.website, @restaurant.website, class: "weblink"
        .list-group-item.jaz-list-group-item
          Hours: &nbsp
          = @restaurant.hours
        .list-group-item.jaz-list-group-item
          Price: &nbsp
          = dollar_rating(@restaurant.price)
        .list-group-item.jaz-list-group-item
          Cuisine: &nbsp
          = @restaurant.cuisine
        .list-group-item.jaz-list-group-item
          Menu: &nbsp
          = @restaurant.menu_id

  - if @restaurant.lat == nil || @restaurant.lng == nil
    .jumbotron
      %h2 Sorry! Could not locate the address on the map
  -else

  #map

  -# calling java script
  :javascript
    $(document).on("ready", function() {
      initMap(#{@restaurant.lat}, #{@restaurant.lng});
    });
